body {
    height: 100vh;
    background: #1b1b1b         ;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heart{
    font-size: 250px;
    color:red;
    padding: 0;
    border: none;
    background: none;
}

@keyframes heartbeat {
    0% {
      transform: scale( .75);
    }
    20% {
      transform: scale( 1);
    }
    40% {
      transform: scale( .75);
    }
    60% {
      transform: scale( 1);
    }
    80% {
      transform: scale( .75);
    }
    100% {
      transform: scale( 1);
    }
  }


#heart:active {
animation: heartbeat 1s;
}
